version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/tools/openapi"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
