# macOS
.DS_Store
._*
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Rust
/target
**/*.rs.bk

# Dart/Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/build/
**/coverage/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Logs
*.log

# Env
.env
.env.*
.envrc

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
