name: lifeready_flutter
version: 0.1.0
description: LifeReady SA Flutter app shell
publish_to: "none"

environment:
  sdk: ">=3.10.8 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
